/* font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    background-color: #fff;
}

.site-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-logo {
    width: 185px;
    height: 50px;
}

.site-header-list {
    display: flex;
    /* justify-content: space-between; */
    list-style: none;
}

.header-list-item a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}