* {
    box-sizing: border-box;
}

*:focus {
    outline: 2px dotted #DE2E54;
    outline-offset: 3px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}


/* HEADER */
.site-header-logo svg {
    color: #222222;
    display: block;
    transition: color 0.3s ease;
}

.site-header-logo:hover svg {
    color: #DE2E54;
}

.site-header-logo:active{
    opacity: 0.6;
}

.site-header {
    background-color: #fff;
}

.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-header-list {
    display: flex;
    list-style: none;
}

.header-list-item {
    margin-right: 32px;
}

.header-list-item a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    color: #222222;
    transition: 
        color 0.4s ease,
        opacity 0.4s ease;
}

.header-list-item a:last-child {
    margin-right: 0;
}

.header-list-item a:hover {
    color: #DE2E54;
}

.header-list-item a:active {
    opacity: 0.6;
}
.base-btn {
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 16px;
    line-height: 22.5px;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    background-color: #DE2E54;
    padding: 12px 24px;
    border-radius: 8px;
    transition: 
        color 0.4s ease,
        border 0.4s ease,
        background-color 0.4s ease,
        opacity 0.4s ease;
    border: 2px solid #DE2E54;
}

.base-btn:hover {
    color: #DE2E54;
    background-color: #fff;
}

.base-btn:active {
    opacity: 0.6;
}
/* /HEADER */


/* MAIN */


/* HERO */
.hero {
    background-color: #0EB4C1;
}
.hero-container {
    display: flex;
    justify-content: space-between;
}

.hero-content {
    width: 500px;
    margin-top: 120px;
}

.hero-content-title {
    width: 500px;
    font-weight: 700;
    font-family: "Open Sans Condensed";
    font-size: 36px;
    line-height: 43.2px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.hero-content-paragraph {
    width: 440px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 36px;
}

.hero-img {
    width: 423px;
    height: 504px;
    margin-bottom: 0;
    margin-top: 29px;
}
/* /HERO */


/* SERVICES */
.services {
    background-color: #fff;
}

.services-container {
    /* padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 138px;
    padding-right: 138px; */
    padding: 120px 138px;
}

.services-title {
    display: flex;
    justify-content: center;
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
    color: #000000;
}

.services-item {
    width: 864px;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.services-item:last-child {
    margin-bottom: 60px;
}

.services-item img {
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);;
    border-radius: 24px;
    width: 200px;
    height: 200px;
}

.services-item-info {
    margin-left: 64px;
    display: inline-block;
    width: 600px;
}

.services-item-info h3 {
    font-family: "Open Sans Condensed";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #222222;
}

.services-item-info p {
    line-height: 24px;
    color: #444444;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}


/* CONTACT */
.contact {
    background-color: #0EB4C1;
}

.contact-container {
    padding-top: 64px;
    padding-bottom: 64px;
}

.contact-title {
    color: #fff;
    font-family: "Open Sans Condensed";
    font-size: 36px;
    line-height: 43.2px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 0;
}

.contact-btn-wrapper {
    display: flex;
    justify-content: center;
}

.contact-btn {
    margin-right: 40px;
    background-color: transparent;
    border: 2px solid #fff;
}

.contact-btn:last-child {
    margin-right: 0;
}

.contact-btn:hover {
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
    color: #fff;
}

.contact-btn:active {
    opacity: 0.6;
}

.contact-btn:focus {
    outline: 2px dotted #fff;
    outline-offset: 3px;
}
/* /SERVICES */


/* /MAIN */


/* FOOTER */
.site-footer {
    background-color: #222222;
    color: #FFFFFF;
    font-family: "Open Sans";
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-footer-logo {
    height: 50px;
}

.site-footer-logo svg {
    color: #fff;
    display: block;
}

.site-footer-logo:active .footer-logo{
    opacity: 0.6;
    color: #fff;
}

.footer-link {
    list-style: none;
    display: flex;
}

.footer-link-item {
    margin-right: 32px;
}

.footer-link-item:last-child {
    margin-right: 0;
}

.footer-link-item a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    transition: color 0.4s ease;
}

.footer-link-item a:hover {
    color: #DE2E54;
}

.footer-link-item a:active {
    opacity: 0.6;
    color: #fff;
}

.footer-link-item a:focus {
    outline: 2px dotted #fff;
    outline-offset: 3px;
    opacity: 0.6;
}
/* /FOOTER */